<app-header></app-header>
<div class="container">
    <div class="page-header text-center mt-5">
        <h1><span class="fa fa-anchor pr-2"></span>{{currentUser.name}}'s Friends</h1>
    </div>
    <div class="row pt-4">
        <div *ngFor="let friend of friends" class="col-sm-6 col-md-6 col-lg-6">
            <div class="well">
                <h3><span class="fa fa-user pr-3"></span>{{friend.name}} </h3>
                <p>
                    <strong>email</strong>: {{friend.email}}<br>
                </p>
                <p *ngIf="message">{{message}}</p>
            </div>
        </div>
    </div>
  </div>