<app-header></app-header>
<div class="container">
  <div class="page-header text-center mt-5">
    <h1><span class="fa fa-anchor pr-2"></span>Welcome {{currentUser.name}}</h1>
  </div>

  <div class="row pt-4">
    <div *ngFor="let user of users" class="col-sm-6 col-md-6 col-lg-6">
      <div class="pt-5">
        <h3><span class="fa fa-user pr-3"></span>{{user.name}} </h3>
        <p>
          <strong>email</strong>: {{user.email}}<br>
        </p>
        <button *ngIf="user.showbutton == 'true'" (click)="addFriend(user._id)" class="btn btn-primary">Add Friend</button>
      </div>
    </div>
  </div>
</div>