<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">My Friend List</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="friends">Friends</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" (click)="logout()"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
    
    </div>
  </nav>
<div class="container">

  <div class="page-header text-center mt-5">
      <h1><span class="fa fa-anchor pr-2"></span>Welcome Dummy</h1>
  </div>

  <div class="row pt-4">
      <div *ngFor="let user of users" class="col-sm-6 col-md-6 col-lg-6">
          <div class="well">
              <h3><span class="fa fa-user pr-3"></span>{{user.name}} </h3>
              <p>
                  <strong>email</strong>: {{user.email}}<br>
              </p>
                  <button (click)="addFriend(user._id)" class="btn btn-primary">Add Friend</button>
          </div>
      </div>
  </div>
</div>